{$SEARX_PROTOCOL}{$SEARX_HOSTNAME} {
  tls {$SEARX_TLS}
  gzip {
        not /morty
  }
  root /srv

  header /config {
        Access-Control-Allow-Methods "GET, OPTIONS"
        Access-Control-Allow-Origin  "*"
  }

  header /status {
        Access-Control-Allow-Methods "GET, OPTIONS"
        Access-Control-Allow-Origin  "*"
  }

  header / {
        # Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "1; mode=block"

        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        X-Content-Type-Options "nosniff"

        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "SAMEORIGIN"

        # CSP (see http://content-security-policy.com/ )
        Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; form-action 'self'; font-src 'self'; frame-ancestors 'self'; base-uri 'self'; connect-src 'self' https://overpass-api.de; img-src 'self' data: https://*.tile.openstreetmap.org; frame-src https://www.youtube-nocookie.com https://player.vimeo.com https://www.dailymotion.com https://www.deezer.com https://www.mixcloud.com https://w.soundcloud.com https://embed.spotify.com"

        # Disable some features
        Feature-Policy "accelerometer 'none';ambient-light-sensor 'none'; autoplay 'none';camera 'none';encrypted-media 'none';focus-without-user-activation 'none'; fullscreen 'none';geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';midi 'none';payment 'none';picture-in-picture 'none'; speaker 'none';sync-xhr 'none';usb 'none';vr 'none'"

        # Cache
        Cache-Control "no-cache, no-store"
        Pragma "no-cache"

        # Referer
        Referrer-Policy "no-referrer"

        # X-Robots-Tag
        X-Robots-Tag "noindex, noarchive, nofollow"

        # Remove Server header
        -Server
  }

  header /morty {
        Content-Security-Policy "default-src 'none'; style-src 'self' 'unsafe-inline'; form-action 'self'; frame-ancestors 'self'; base-uri 'self'; img-src 'self' data:; font-src 'self'; frame-src 'self'"
  }

  header /static {
        Cache-Control "public, max-age=31536000"
        -Pragma
  }

  rewrite / {
        regexp ^/status$
        to /searx-checker/status.json
  }

  proxy / 127.0.0.1:4040 {
        transparent
        header_upstream X-Forwarded-TlsProto {tls_protocol}
        header_upstream X-Forwarded-TlsCipher {tls_cipher}
        header_upstream X-Forwarded-HttpsProto {proto}

        except /searx-checker/status.json
  }

  basicauth /filtron {$FILTRON_USER} {$FILTRON_PASSWORD}
  proxy /filtron/rules 127.0.0.1:4041 {
        without /filtron
  }

  proxy /morty 127.0.0.1:3000

  limits 10KB

}
