version: '3.7'

services:

  caddy:
    container_name: caddy
    image: caddy:2-alpine
    network_mode: host
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data:rw
      - caddy-config:/config:rw
    environment:
      - SEARXNG_HOSTNAME=${SEARXNG_HOSTNAME:-http://localhost:80}
      - SEARXNG_TLS=${LETSENCRYPT_EMAIL:-internal}
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE

  redis:
    container_name: redis
    image: "redis:alpine"
    command: redis-server --save "" --appendonly "no"
    networks:
      - searxng
    tmpfs:
      - /var/lib/redis
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE

  searxng:
    container_name: searxng
    image: searxng/searxng:latest
    networks:
      - searxng
    ports:
     - "127.0.0.1:8080:8080"
    volumes:
      - ./searxng:/etc/searxng:rw
      - ./custom/LotusIcon.svg:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg
      - ./custom/LotusIcon.svg.gz:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg.gz
      - ./custom/LotusIcon.svg.br:/usr/local/searxng/searx/static/themes/simple/img/favicon.svg.br
      - ./custom/LotusIconL.svg:/usr/local/searxng/searx/static/themes/simple/img/searxng.svg
      - ./custom/LotusIcon.svg.gz:/usr/local/searxng/searx/static/themes/simple/img/searxng.svg.gz
      - ./custom/LotusIcon.svg.br:/usr/local/searxng/searx/static/themes/simple/img/searxng.svg.br
      - ./custom/LotusIcon.svg:/usr/local/searxng/src/brand/searxng.svg
      - ./custom/LotusIcon.svg:/usr/local/searxng/src/brand/searxng-wordmark.svg
      - ./custom/LotusIcon.svg:/usr/local/searxng/searx/templates/simple/searxng-wordmark.min.svg
      - ./custom/LotusIcon.png:/usr/local/searxng/searx/static/themes/simple/img/favicon.png
      - ./custom/LotusIcon.png:/usr/local/searxng/searx/static/themes/simple/img/searxng.png
      - ./custom/base.html:/usr/local/searxng/searx/template/simple/base.html
    environment:
      - SEARXNG_BASE_URL=https://${SEARXNG_HOSTNAME:-localhost}/
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
networks:
  searxng:
    ipam:
      driver: default

volumes:
  caddy-data:
  caddy-config:
