[Unit]
Description=searx service
Requires=docker.service
After=docker.service

[Service]
Restart=always

Environment=SEARX_DIR=/usr/local/searx-docker
Environment=SEARX_DOCKERCOMPOSEFILE=docker-compose.yaml

ExecStart=/bin/sh -c "${SEARX_DIR}/start.sh"
ExecStop=/bin/sh -c "${SEARX_DIR}/stop.sh"

[Install]
WantedBy=multi-user.target
